@charset "utf-8";
@import "~bootstrap/dist/css/bootstrap.min.css";

// Variables
$beige-lighter: #EFF0EB;

body {
  background-color: $beige-lighter;

}

section {
  margin-bottom: 30px;
}

.navbar {
  background-color: #002538;
  margin-bottom: 30px;
}


.table-buttons {
  margin-bottom: 10px;
}
